@import "tailwindcss";
@import '../styles/header.css';
@import '../styles/search.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-main-100: oklch(97.16% 0.002 197.12);
  --color-main-200: oklch(96.41% 0.015 123.04);
  --color-main-300: oklch(88.17% 0.163 126.12);
  --color-main-400: oklch(38.00% 0.062 201.15);
}



@layer components {
  .curved-bottom {
    position: relative;
  }
  
  .curved-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: inherit;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    transform: scaleX(2);
  }
}

